* {
	box-sizing: border-box;
	border: 0;
	padding: 0;
	margin: 0;
}

body {
	background-color: #89609e;
	font-family: "Open Sans", sans-serif;
}

nav {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #755286;
}

/* Automáticamente, el input, los botones y otras etiquetas no recibirán la fuente elegida en body.
Para cambiar esto, determinamos que la fuente siempre debería ser heredada. */

input, select, textarea, button {
	font-family: inherit;
}


#logo {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	margin-top: 10px;
	opacity: 0.7;
}

#logo:hover {
	opacity: 1;
}

#boards {
	margin-top: 70px;
	margin-left: 20px;
}

#add-list {
	width: 280px;
	height: 40px;
	background-color: #78548b;
	color:  rgba(255,255,255,.7);
	line-height: 30px;
	font-size: 14px;
	padding: 5px;
	transition: 0.5s all;
	transition-delay: 0.1s;
	border-radius: 3px;
}

#add-list:hover {
	transition: 0.5s all ease;
	background-color: #674679;
	cursor: pointer;
}

.invisible {
	display: none;
}

.visible {
	display: inline-block;
}

#main-board {
	width: 280px;
	min-height: 100px;
	max-height: 100%;
	background-color: #E2E4E6;
	text-align: center;
	padding-top: 10px;
	border-radius: 3px;
	margin-top: 3px;
}

input {
	width: 260px;
	height: 40px;
	padding: 5px;
	border-radius: 3px;
}

#main-board input {
	background-color: #D7D8DA;
	box-shadow: inset 0 0 15px grey;
}

.button {
	/* width: 54px;
	height: 22px; */
	background-color: #5AAC44;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	padding: 6px 20px;
	transition: 0.5s all;
	transition-delay: 0.1s;
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: 700;
}

.button:hover {
	background-color: #44912F;
	transition: 0.5s all ease;
	cursor: pointer;
}

.closing-button {
	background-color: transparent;
	border: none;
	color: #999;
	font-size: 20px;
	margin-left: 20px;
}

.item {
	background-color: #E2E4E6;
	width: 250px;
	color: gray;
	padding: 8px;
	border-radius: 3px;
}

ul {
	list-style-type: none;
	margin-bottom: 10px;
}

.new-board {
	width: 280px;
	min-height: 100px;
	max-height: 100%;
	background-color: #E2E4E6;
	text-align: center;
	padding-top: 10px;
	border-radius: 3px;
	margin-top: 3px;
	margin-bottom: 30px;
	float: left;
	margin-right: 30px;
}

.new-board h2 {
	font-size: 14px;
	font-weight: 700;
	color: #333333;
	text-align: left;
	margin-left: 8px;
	margin-bottom: 5px;
	line-height: 20px;
}

.new-board input {
	width: 100%;
	background-color: #E2E4E6;
	border-radius: 0px;
}

.new-board input:hover {
	background-color: #9B9B9B;
}

.new-board input:hover::placeholder {
	text-decoration: underline;
	color: #333333;
}

.new-board textarea {
	width: 95%;
	border-bottom: 1px solid grey;
	border-radius: 3px;
	resize: none;
	overflow: hidden;
}